.landing-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../images/toa-heftiba-FV3GConVSss-unsplash.jpg);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.landing-header {
  font-size: 6em;
  font-weight: 400;
  color: #fff;
}

.arrow-icon {
  color: rgba(255, 255, 255, 0.411);
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  padding-top: 30px;
}

p {
  margin-top: -10px;
  color: #fff;
}

.arrow-icon:hover {
  transition: 0.3s;
  color: rgb(255, 255, 255);
}
